/* sidebar.css */
body {
    background: #f8f9fa;
  }
  
  .bg-dark {
    background-color: #333 !important;
  }
  
  .nav-link {
    color: rgba(255, 255, 255, 0.75);
    margin-bottom: 1rem;
  }
  
  .nav-link:hover {
    color: rgba(255, 255, 255, 0.95);
  }
  
  .nav-link.active {
    color: #0d6efd;
    background-color: #fff;
  }
  
  .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #0d6efd;
  }
  
  .dropdown-toggle::after {
    display: none;
  }
  
  .dropdown-menu-dark .dropdown-item {
    color: rgba(255, 255, 255, 0.75);
  }
  
  .dropdown-menu-dark .dropdown-item:hover {
    color: #fff;
    background-color: #0d6efd;
  }
  
  .dropdown-menu-dark .dropdown-item.active {
    color: #fff;
    background-color: #0d6efd;
  }
  
  /* Adjust icon and text spacing for better alignment */
  .nav-link i {
    padding-right: 5px;
  }
  
  /* Custom scrollbar */
  ::-webkit-scrollbar {
    width: 0.4rem;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  ::-webkit
  